<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
  <servlet>
    <servlet-name>RegistroUsuario</servlet-name>
    <servlet-class>com.gerson.servlet.RegistroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroUsuario</servlet-name>
    <url-pattern>/RegistroUsuario</url-pattern>
  </servlet-mapping>
</web-app>
